* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

header {
    display: block;
    height: 15%;
    background-image: url("https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4ee2b8d973d5c1051b9e7f34d8fc6869&auto=format&fit=crop&w=752&q=80");
    background-size: cover;
    text-align: center;
    font-family:'Acme', sans-serif;
}

h1 {
    margin-top: 0;
    padding-top: 20px;
}

h2 {
    font-size: 35px;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family:'Raleway',sans-serif;
}

main {
    height: 85%;
    width: 100%;
    display: block;
    text-align: center;
    background-image: url('https://github.com/drzoid14/pantry-manager/blob/master/cropped-unsplash.jpg?raw=true');
    background-size: cover;
}

.container {
    text-align: center;
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.inputFields {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input {
    margin: 10px;
    padding: 5px;
    margin-top: 30px;
    font-size: 20px;
    max-width: 50%;
    align-self: flex-end;
    background-color:rgba(255,255,255,0.7) !important;
}

label {
    padding-top: 10px;
    margin-left: 10px;
    display: inline-block;
    margin-top: 30px;
    font-size: 30px;
    min-width: 150px;
    text-align: center;
    ;
}

button {
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
}

form {
    align-self: center;
    text-align: center;
    width: 65%;
    margin-left:17.5%;
    

}

.title {
    width: 50%;
    font-size: 25px;
    height: 20%;
}

#member {
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 6px;
    max-width: 300px;
}

.nameFields, .userLabel, .passwordLabel {
    display: inline-block;
}

.buffer {
    padding: 20px;
}